.form-group.full-width {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group.full-width label {
    margin-bottom: 5px;
}

.form-group.full-width textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    height: 150px; /* Ajuste a altura conforme necessário */
    resize: vertical; /* Permite redimensionar verticalmente */
}
